{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ custom_site_name }} </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="{{ custom_site_author }}" />
    <meta name="keywords" content="{{ custom_site_keywords }}" />

 	<link rel="stylesheet" href="{% static '/' %}assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="{% static '/' %}assets/style.css"/>
{#    revert back to cdn version #}
{#    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>#}
    <script src="{% static '/' %}assets/jquery/jquery.js"></script>
	<script src="{% static '/' %}assets/bootstrap/js/bootstrap.js"></script>
    <script src="{% static '/' %}assets/script.js"></script>

    <!-- Owl stylesheet -->
    <link rel="stylesheet" href="{% static '/' %}assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{% static '/' %}assets/owl-carousel/owl.theme.css">
    <script src="{% static '/' %}assets/owl-carousel/owl.carousel.js"></script>
    <!-- Owl stylesheet -->


    <!-- slitslider -->
    <link rel="stylesheet" type="text/css" href="{% static '/' %}assets/slitslider/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{% static '/' %}assets/slitslider/css/custom.css" />
    <script type="text/javascript" src="{% static '/' %}assets/slitslider/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="{% static '/' %}assets/slitslider/js/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="{% static '/' %}assets/slitslider/js/jquery.slitslider.js"></script>
    <!-- slitslider -->

</head>
<body>


<!-- Header Starts -->
<div class="navbar-wrapper">

        <div class="navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right">
               <li class="active"><a href="{% url 'index_page' %}">Home</a></li>
                <li><a href="{% url 'about_page' %}">About</a></li>
                <li><a href="{% url 'agent:list' %}">Agents</a></li>
                <li><a href="{% url 'blog_page' %}">Blog</a></li>
                <li><a href="{% url 'contact_page' %}">Contact</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

    </div>
<!-- #Header Starts -->





<div class="container">

<!-- Header Starts -->
<div class="header">
<a href="{% url 'index_page' %}"><img src="{% static '/' %}images/logo.png" alt="{{ custom_site_name }}"></a>

              <ul class="pull-right">
                <li><a href="#">Buy</a></li>
                <li><a href="#">Sale</a></li>
                <li><a href="#">Rent</a></li>
              </ul>
</div>
<!-- #Header Starts -->
</div>

{% block content %}
{% endblock %}




<div class="footer">

<div class="container">



<div class="row">
            <div class="col-lg-3 col-sm-3">
                   <h4>Information</h4>
                   <ul class="row">
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="{% url 'about_page' %}">About</a></li>
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="{% url 'agent:list' %}">Agents</a></li>
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="{% url 'blog_page' %}">Blog</a></li>
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="{% url 'contact_page' %}">Contact</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-sm-3">
                    <h4>Newsletter</h4>
                    <p>Get notified about the latest properties in our marketplace.</p>
                    <form class="form-inline" role="form">
                            <input type="text" placeholder="Enter Your email address" class="form-control">
                                <button class="btn btn-success" type="button">Notify Me!</button></form>
            </div>

            <div class="col-lg-3 col-sm-3">
                    <h4>Follow us</h4>
                    <a href="#"><img src="{% static '/' %}images/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="{% static '/' %}images/twitter.png" alt="twitter"></a>
                    <a href="#"><img src="{% static '/' %}images/linkedin.png" alt="linkedin"></a>
                    <a href="#"><img src="{% static '/' %}images/instagram.png" alt="instagram"></a>
            </div>

             <div class="col-lg-3 col-sm-3">
                    <h4>Contact us</h4>
                    <p><b>{{ custom_site_name }}.</b><br>
                    <span class="glyphicon glyphicon-map-marker"></span> {{ custom_site_address }} <br>
                    <span class="glyphicon glyphicon-envelope"></span>  {{ custom_site_email }} <br>
                    <span class="glyphicon glyphicon-earphone"></span> {{ custom_site_telephone }}</p>
            </div>
        </div>
<p class="copyright">Copyright 2018. All rights reserved.	</p>


</div></div>




<!-- Modal -->
<div id="loginpop" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col-sm-6 login">
        <h4>Login</h4>
          <form class="" role="form" method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-group">
                <label class="sr-only" for="id_username">Email address</label>
                <input type="text" class="form-control" id="id_username" placeholder="Enter username" name="username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control" id="id_password" placeholder="Password" name="password">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
        <div class="col-sm-6">
          <h4>New User Sign Up</h4>
          <p>Join today and get updated with all the properties deal happening around.</p>
          <button type="submit" class="btn btn-info"  onclick="window.location.href='{% url 'agent:create' %}'">Join Now</button>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /.modal -->



</body>
</html>



