{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="">
    <div id="slider" class="sl-slider-wrapper">
        <div class="sl-slider">

            {% for property in hot_property_list %}
                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                    <div class="sl-slide-inner">
                        <div class="bg-img bg-img-1"></div>
                        <h2><a href="{% url 'property:detail' property.id %}">{{ property.name }}</a></h2>
                        <blockquote>
                            <p class="location"><span class="glyphicon glyphicon-map-marker"></span> {{ property.location }}</p>
                            <p>{{ property.description }}</p>
                            <cite>$ {{ property.price }}</cite>
                        </blockquote>
                    </div>
                </div>
            {% endfor %}

        </div><!-- /sl-slider -->



        <nav id="nav-dots" class="nav-dots">
          <span class="nav-dot-current"></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </nav>

      </div><!-- /slider-wrapper -->
</div>



<div class="banner-search">
  <div class="container">
    <!-- banner -->
    <h3>Buy, Sale & Rent</h3>
    <div class="searchbar">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <form method="get" action="{% url 'property:list' %}">
              <input type="text" class="form-control" name="name" placeholder="Search for Properties">
          <div class="row">
            <div class="col-lg-3 col-sm-3 ">
              <select class="form-control" name="property_type">
                  {% for type in property_type_list %}
                      <option value="{{ type.id }}">{{ type.name }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="col-lg-3 col-sm-4">
              <select class="form-control" name="min">
                  <option value=""></option>
                  <option value="0">$0</option>
                <option value="10000">$10, 000</option>
                <option value="50000">$50,000</option>
                <option value="100000">$100,000</option>
              </select>
            </div>
            <div class="col-lg-3 col-sm-4">
            <select class="form-control" name="max">
                <option value=""></option>
                <option value="100000">$100, 000</option>
                <option value="500000">$500, 000</option>
                <option value="1000000">$1, 000,000</option>
                <option value="">Above 1, 000, 000</option>
              </select>
              </div>
              <div class="col-lg-3 col-sm-4">
                <button class="btn btn-success" type="submit" onclick="">Find Now</button>
              </div>
          </div>

          </form>

        </div>
        <div class="col-lg-5 col-lg-offset-1 col-sm-6 ">
          <p>Join now and get updated with all the properties deals.</p>
          <button class="btn btn-info"   data-toggle="modal" data-target="#loginpop">Login</button>        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner -->
<div class="container">
  <div class="properties-listing spacer"> <a href="{% url 'property:list' %}" class="pull-right viewall">View All Listing</a>
    <h2>Featured Properties</h2>
    <div id="owl-example" class="owl-carousel">
        {% for property in hot_property_list %}
            <div class="properties">
                <div class="image-holder"><img src="{{ MEDIA_URL }}{{ property.picture_1 }}" class="img-responsive" alt="{{ property.name }}"/>
                    <div class="status sold">
                        {% if property.availability %}
                            Available
                        {% else %}
                            Sold
                        {% endif %}
                    </div>
                </div>
                <h4><a href="{% url 'property:detail' property.id %}">{{ property.name }}</a></h4>
                <p class="price">Price: $ {{ property.price }}</p>
                <div class="listing-detail">
                    <span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">{{ property.bedrooms }}</span>
                    <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">{{ property.living_rooms }}</span>
                    <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">{{ property.parking }}</span>
                    <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">{{ property.kitchens }}</span>
                </div>
            <a class="btn btn-primary" href="{% url 'property:detail' property.id %}">View Details</a>
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="spacer">
    <div class="row">
      <div class="col-lg-6 col-sm-9 recent-view">
        <h3>About Us</h3>
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.<br><a href="about.php">Learn More</a></p>

      </div>
      <div class="col-lg-5 col-lg-offset-1 col-sm-3 recommended">
        <h3>Recommended Properties</h3>
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
              {% for property in recommended_property_list %}
                  <div class="item active">
                    <div class="row">
                      <div class="col-lg-4">
                            <img src="{{ MEDIA_URL }}{{ property.picture_1 }}" class="img-responsive" alt="{{ property.name }}"/>
                        </div>
                        <div class="col-lg-8">
                            <h5><a href="{% url 'property:detail' property.id %}">{{ property.name }}</a></h5>
                            <p class="price">${{ property.price }}</p>
                            <a href="{% url 'property:detail' property.id %}" class="more">More Detail</a>
                        </div>
                    </div>
                  </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}